<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <!-- Core JavaScript -->
        <script type="text/javascript" src="{{request.static_url('cos:static/konva.min.js')}}"></script>
        <script type="text/javascript" src="{{request.static_url('cos:static/board_builder.js')}}"></script>
        <script type="text/javascript" src="{{request.static_url('cos:static/driver.js')}}"></script>
        <script type="text/javascript" src="{{request.static_url('cos:static/stats.js')}}"></script>
        <script type="text/javascript" src="{{request.static_url('cos:static/gamedice.js')}}"></script>
        <script type="text/javascript" src="{{request.static_url('cos:static/game_page_api_calls.js')}}"></script>
        <script type="text/javascript" src="{{request.static_url('cos:static/player_join.js')}}"></script>

  <!-- Game Body -->
  </head>
  <body>
    <span class="container">
    <span class="row">
        <div class="col-lg-8">
            <h1>Catan Board: Game_ID = {{game_id}}</h1>
            <!-- Stores the game ID for reference later -->
            <div id="game_id" hidden>{{game_id}}</div>
            <div id="player_id" hidden>{{ player_id }}</div>
            <div id = "container"></div>

            <!-- Render game board early -->
            <script>build_board()</script>

            <!-- Begin game join sequence -->
            <script>player_join_driver()</script>
        </div>
        <span class="col-lg-4">
            <!-- Game stats tables -->
            <h3 id = "score"></h3>
            <div id = "resources"></div>
            <div id = "players"></div>
            <div id = "devcards"></div>
            <div id = "road_and_army"></div>

            <!-- Dice Controls -->
            <table id="diceTable" class="tab-content">
                <th>
                    <h4>Dice</h4>
                </th>
                <tr>
                    <td>
                        <div class="card p-3">
                            <h3 id="dice1" align="center">3</h3>
                            <span>dice one</span>
                        </div>
                    </td>
                    <td>
                        <div class="card p-3">
                            <h3 id="dice2" align="center">5</h3>
                            <span>dice two</span>
                        </div>
                    </td>
                </tr>
            </table>
            <tr>
                <button id="rollDiceBtn" type="button" class="btn" >Roll Dice</button>
            </tr>

        </span>
        </span>
    </span>

    <!-- Prompt for player join -->
    <div class="modal fade" id="newGame" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel">Enter Player to Join Game</h4>
                </div>
                <div class="modal-body">
                    <form id="joinForm" name="joinForm" action="">
                        <div class="form-group">
                            <label><b>Player name</b></label><br>
                            <input id="player_name" type="text" placeholder="your name" name="player_name" autofocus required><br>
                        </div>
                        <div class="form-group">
                            <label><b>Age</b></label><br>
                            <input id="player_age" type="number" min="5" max="120" placeholder="99" name="player_age" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="joinGameBtn" type="button" class="btn">Join Game!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Prompt for wait for players to join -->
    <div class="modal fade" id="waitForPlayers" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalLabel">Waiting for other players to join...</h4>
                </div>
                <div class="modal-body">
                    <label>Waiting for 3 players to join before 'Start Game' activates.</label><br>
                    <label id="playerJoinCount">Players joined 1</label>
                </div>
                <div class="modal-footer">
                    <button id="startGameBtn" type="button" class="btn" name="startGameBtn">Start Game!</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Show dialog to wait for players to join -->
    <!--<script>wait_for_players()</script>-->

     </body>
</html>
